@import '~src/styles/variables';

.action-item {
  flex-flow: row wrap;
  align-items: center;
}

.action-content {
  flex: 1;
  .date {
    font-weight: 500;
    color: $grey-light;
  }
}

.action-text {

  p {
    margin: 0;
    font-size: 1rem;
  }
}

.action-icon {
  margin-right: 1rem;

  .icon {
    height: 2rem;
    width: 2rem;
    color: $grey-lighter;
  }
}