@import '~src/styles/variables';

.notification-item {
  flex-flow: row wrap;
  align-items: center;
}

.notification-content {
  flex: 1;

  .date {
    font-weight: 500;
    color: $grey-light;
  }
}

.notification-text {

  p {
    margin: 0;
    font-size: 1rem;
  }
}

.notification-icon {
  margin-right: 1rem;
  background: $white-ter;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  .icon {
    height: 1.7rem;
    width: 1.7rem;
    color: $grey-light;
  }
}

@mixin item-type-style($color) {
  .notification-text {
    color: $color;
  }
  .notification-icon {
    background-color: rgba($color, 0.1)
  }
  .icon {
    color: rgba($color, .8);
  }
}

@mixin item-action-style($color) {
  .notification-icon {
    background-color: rgba($color, 0.1)
  }
  .icon {
    color: rgba($color, .8);
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.error { @include item-type-style($danger); }
.warning { @include item-type-style($warning); }
.info { @include item-type-style($info); }
.process {
  .notification-icon {
    background-color: transparent;
  }

  .icon {
    height: 2rem;
    width: 2rem;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: rgba($primary, .5);
  }
}

.action_opponent_joined { @include item-action-style($blue); }
.action_you_created { @include item-action-style($green); }
.action_you_joined { @include item-action-style($yellow); }
.action_receive { @include item-action-style($green); }
.action_won { @include item-action-style($green); }
.action_lost { @include item-action-style($red); }
.action_draw { @include item-action-style($grey); }
