<div [ngClass]="['level', 'notification-item', messageClass]">
  <div class="notification-icon">
    <svg class="icon">
      <use [attr.xlink:href]="'icons.svg#icon-' + iconKey"></use>
    </svg>
  </div>
  <div class="notification-content">
    <div class="notification-text">
      <p [innerHTML]="messageSafeHtml">
      </p>

      <!--<p *ngSwitchCase="actionType.CreatedMatch">-->
        <!--You created a <a [routerLink]="['/match', notification.args[0]]">match</a>.-->
      <!--</p>-->
      <!--<p *ngSwitchCase="actionType.JoinedMatch">-->
        <!--You joined a <a [routerLink]="['/match', notification.args[0]]">match</a>.-->
      <!--</p>-->
      <!--<p *ngSwitchCase="actionType.AcceptedMatch">-->
        <!--Your <a [routerLink]="['/match', notification.args[0]]">match</a> was accepted.-->
      <!--</p>-->
      <!--<p *ngSwitchCase="actionType.FinishedMatch">-->
        <!--You have successfully finished a <a [routerLink]="['/match', notification.args[0]]">match</a>.-->
      <!--</p>-->
      <!--<p *ngSwitchCase="actionType.LostMatch">-->
        <!--You lost a <a [routerLink]="['/match', notification.args[0]]">match</a> 😥-->
      <!--</p>-->
      <!--<p *ngSwitchCase="actionType.DrawMatch">-->
        <!--Your <a [routerLink]="['/match', notification.args[0]]">match</a> has been completed with a draw.-->
      <!--</p>-->
      <!--<p *ngSwitchCase="actionType.WonMatch">-->
        <!--You won a <a [routerLink]="['/match', notification.args[0]]">match</a> 🤘-->
      <!--</p>-->
      <!--<p *ngSwitchCase="actionType.WrongMatch">-->
        <!--Something went wrong.-->
      <!--</p>-->
    </div>
    <small class="date">{{ notification.timestamp | date: 'd MMM, y, h:mm a' }}</small>
  </div>
</div>
