@import '~src/styles/variables';

.notifications-flow {
  &__item {
    background: $white;
    margin-top: 1rem;
    border-radius: $radius-large;
    padding: 1rem;
    // border: 1px solid $white-ter;
    box-shadow: $shadow-default;
    transition: opacity .5s ease;

    &.faded {
      opacity: 0;
    }
  }
}
