<section class="section user-panel">
  <div class="level">
    <div class="level-left">
      <div class="level-item user-panel__logout" *ngIf="isLogged">
        <button class="button" (click)="logout()">Log Out</button>
      </div>
      <div class="level-item user-panel__notifications"
           *ngIf="isLogged"
           appClickOutside (clickOutside)="notificationsIsShown && closeNotifications()">
        <div class="notifications-icon" (click)="toggleNotifications()">
          <svg class="icon"><use xlink:href="icons.svg#icon-notifications_none"></use></svg>
        </div>
        <div class="notifications-tooltip" [hidden]="!notificationsIsShown">
          <div class="notifications-tooltip__inner">
            <app-notifications></app-notifications>
          </div>
        </div>
      </div>
    </div>
    <div class="level-right" *ngIf="!user && keeperIsAvailable">
      <button class="button" (click)="signin()">Sign In</button>
    </div>
    <div class="level-right" *ngIf="!keeperIsAvailable">
      <a href="https://chrome.google.com/webstore/detail/waves-keeper/lpilbniiabackdjcionkobglmddfbcjo"
         target="_blank"
         class="button">Install Keeper</a>
    </div>
    <div class="level-right user-panel__user" *ngIf="isLogged">
      <div class="level-left">
        <div class="user-panel__avatar">
          <app-match-player [player]="user"></app-match-player>
        </div>
      </div>
      <div class="level-right">
        <div class="user-panel__details">
          <span class="address">{{ user?.address }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
