<section class="section user-panel">
  <div class="level">
    <div class="level-left">
      <div class="level-item user-panel__logout" *ngIf="user">
        <button class="button" (click)="logout()">Log Out</button>
      </div>
      <a [routerLink]="['actions']"
         class="level-item user-panel__actions" *ngIf="user">
        <svg class="icon"><use xlink:href="icons.svg#icon-notifications_none"></use></svg>
      </a>
    </div>
    <div class="level-right" *ngIf="!user">
      <button class="button" (click)="signin()">Sign In</button>
    </div>
    <div class="level-right user-panel__user" *ngIf="user">
      <div class="level-left">
        <div class="user-panel__avatar">
          <app-match-player [player]="user"></app-match-player>
        </div>
      </div>
      <div class="level-right">
        <div class="user-panel__details">
          <span class="address">{{ user?.address }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
