@import '~src/styles/variables';

.user-panel {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $white-ter;

  &__notifications {
    position: relative;
  }

  &__user {
    align-items: center;
  }

  &__avatar {
    width: 3rem;
    height: 3rem;
  }

  &__details {
    margin-left: 1rem;

    .address {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 160px;
      display: block;
    }
  }
}

.notifications-icon {
  cursor: pointer;
  color: $text;

  &:hover,
  &:focus {
    color: $primary;
  }
}

.notifications-tooltip {
  $triangle-size: 1rem;

  position: absolute;
  top: 3.2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 24rem;
  z-index: 99;

  &__inner {
    background: $white;
    margin: 0 auto;
    width: auto;
    padding: .35rem 1.5rem;
    border-radius: $radius-large;
    overflow: auto;
    max-height: 26rem;
    box-shadow: 0 0 1.5rem 0 rgba($black,.07);
  }

  &:before {
    content: '';
    position: absolute;
    top: -$triangle-size;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 $triangle-size $triangle-size $triangle-size;
    border-color: transparent transparent $white transparent;
  }
}
