
<div class="match-card">
  <div class="match-card__inner">
    <div class="match-card__overview">
      <div class="level match-meta">
        <div class="level-left match-meta__id">
          #{{ match.id }}
        </div>
        <div class="level-right match-meta__share">
          <a href="#">share</a>
        </div>
      </div>
      <div class="level has-text-centered match-players" *ngIf="!match.winner">
        <div class="level-item">
          <app-match-player></app-match-player>
          <div class="player-status">
            Waiting players..
          </div>
        </div>
      </div>
      <div class="level has-text-centered match-players" *ngIf="match.winner">
        <div class="level-item">
          <app-match-player [player]="match.players[0]"></app-match-player>
          <div class="player-status">
            Winner
          </div>
        </div>
        <div class="level-item">vs</div>
        <div class="level-item">
          <app-match-player [player]="match.players[1]"></app-match-player>
          <div class="player-status">
            Looser
          </div>
        </div>
      </div>
    </div>

    <div class="level match-card__details">
      <div class="level-left">
        <div class="level-item">
          Bet:&nbsp;
          <span class="has-text-primary">1 Waves</span>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="match-status">
            Open
          </div>
        </div>
      </div>
    </div>
  </div>
  <a [routerLink]="['match', match.address]" class="start-overlay" [hidden]="!startIsShown">
    <div class="start-overlay__inner">
      <button class="button is-primary">Start Match</button>
    </div>
  </a>
</div>
