
<div class="match-card">
  <a href="#" class="match-card__inner">
    <div class="match-card__overview">
      <div class="level match-meta">
        <div class="level-left match-meta__id">
          #{{ match.id }}
        </div>
        <div class="level-right match-meta__share">
          <a href="#">share</a>
        </div>
      </div>
      <div class="level">
        <div class="level-item has-text-centered">
          <app-match-player></app-match-player>
        </div>
      </div>
    </div>

    <div class="level match-card__details">
      <div class="level-left">
        <div class="level-item">
          Bet: 1 Waves
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="match-status">
            Open
          </div>
        </div>
      </div>
    </div>
  </a>
  <a [routerLink]="['match', match.id]" class="start-overlay" [hidden]="!startIsShown">
    <div class="start-overlay__inner">
      <button class="button is-primary">Start Match</button>
    </div>
  </a>
</div>
