@import '~src/styles/variables';

.match-card {
  background: $white;
  padding: 1.5rem;
  border-radius: .5rem;
  border: 1px solid $white-ter;
  color: $text;
  position: relative;

  &__inner {
    color: $text;
    display: block;
  }

  &__overview {
    padding-bottom: 1rem;
  }

  &__details {
    padding-top: 1rem;
    border-top: 1px solid $white-ter
  }

  &--disabled {
    opacity: .5;
  }
}

.match-meta {
  margin: 0;

  &__id {
    color: $grey-light;
  }
}

.start-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: rgba(#f8f9fb, 0.6);

  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
