@import '~src/styles/variables';

$card-padding: 1.5rem;

.match-card {
  background: $white;
  padding: $card-padding;
  border-radius: $radius-large;
  border: 1px solid $white-ter;
  box-shadow: $shadow-small;
  color: $text;
  position: relative;

  &__inner {
    color: $text;
    display: block;
  }

  &__overview {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
  }

  &__details {
    padding-top: 1rem;
    border-top: 1px solid $white-ter;
    position: relative;
  }

  &--disabled {
    opacity: .5;
  }
}

.match-pending {
  width: 100%;
  height: 1px;
  position: absolute;
  top: -1px;
  left: 0;
  background: $primary;
  box-shadow: 1px 1px 3px 0 rgba($primary, .25);
}

.match-meta {
  font-size: .9rem;
  position: absolute;
  top: $card-padding;
  left: $card-padding;
  right: $card-padding;

  &__id {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 128px;
    color: $grey-light;

    &:hover {
      color: $blue;
    }
  }
}

.match-players {
  margin: 0;
  
  .level-item {
    flex-direction: column;
  }

  &--result {
    .player-status {
      text-transform: uppercase;
      font-size: .8rem;
      background: rgba($red, 0.1);
      padding: 0 .4rem;
      border-radius: .3rem;
      color: $red;

      margin: .8rem -6rem 0;

      &--winner {
        background: rgba($blue, 0.1);
        color: $blue;
      }

      &--draw {
        background: $white-ter;
        color: $grey-light;
      }
    }
  }
}

.match-date {
  color: $grey-light;

  &:hover,
  &:focus {
    color: $primary;
  }
}

.match-status {
  padding-left: calc(8px + .3rem);
  position: relative;
  font-size: .9rem;
  height: 1rem;
  line-height: 1rem;

  &:before {
    content: '';
    width: 8px;
    height: 8px;
    background: $grey-light;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -4px;
  }

  span {
    color: $grey-light;
  }

  &.status-0 {
    &:before { background-color: $green; }
  }

  &.status-1,
  &.status-2,
  &.status-3,
  &.status-4 {
    &:before { background-color: $yellow; }
  }

  &.status-5,
  &.status-6 {
    &:before { background-color: $grey; }
  }
}

.top-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: rgba(#f8f9fb, 0.6);

  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    width: 11rem;
    height: 2.8rem;
  }
}

.match-text,
.player-status {
  text-align: center;
  margin-top: .8rem;
  height: 1.5rem;
  line-height: 1.5rem;
}

.match-text {
  color: $grey;
  white-space: nowrap;
}
