<div class="level player-panel">
  <div class="player-panel__user">
    <div class="player-panel__avatar">
      <app-match-player [player]="player"></app-match-player>
    </div>
    <div class="player-panel__details">
      <a href="https://wavesexplorer.com/address/{{ player?.address }}"
          target="_blank"
          class="address">{{ player?.address }}</a>
    </div>
  </div>
  <div class="player-panel__hands">
    <div class="selected-hands">
      <div class="selected-hands__item--slots"></div>
      <div class="has-text-centered selected-hands__item" *ngFor="let hand of hands">
        <div [class]="['hand hand--' + hand]">
          <span class="emoji"></span>
        </div>
      </div>
    </div>
  </div>
</div>