<div class="level player-panel">
  <div class="player-panel__user">
    <div class="player-panel__avatar">
      <app-match-player [player]="player"></app-match-player>
    </div>
    <div class="player-panel__details">
      <a href="https://wavesexplorer.com/address/{{ player?.address }}"
          target="_blank"
          class="address">{{ player?.address }}</a>
    </div>
    <div class="player-panel__status" *ngIf="player && player?.status !== undefined ">
      <div class="player-status"
           [class.player-status--draw]="player?.status === undefined || player.status === 0"
           [class.player-status--looser]="player?.status === 1"
           [class.player-status--winner]="player?.status === 2"
           [ngSwitch]="player?.status">
        <span *ngSwitchCase="1" [translate]="'CARD.LOOSER'">Winner</span>
        <span *ngSwitchCase="2" [translate]="'CARD.WINNER'">Looser</span>
        <span *ngSwitchCase="0" [translate]="'CARD.DRAW'">Draw</span>
      </div>
    </div>
  </div>
  <div class="player-panel__hands">
    <div class="selected-hands">
      <div class="selected-hands__item--slots"></div>
      <div class="has-text-centered selected-hands__item" *ngFor="let hand of hands">
        <div [class]="['hand hand--' + hand]">
          <span class="emoji"></span>
        </div>
      </div>
    </div>
  </div>
</div>
