@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// Initial variables
$blue: #0072ff;
$red: #E84855;
$yellow: #FFC031;
$section-padding: 2rem 3rem;
$white-ter: #edf0f4;
//$radius: 0;

// Derived variables
$body-background-color: #f8f9fb;
$primary: $blue;
$modal-background-background-color: rgba($black, 0.6);
$subtitle-color: $grey-light;

$control-height: 2.5rem;
$control-radius: 3px;
$button-padding-horizontal: 1em;

// New
$basic700: #4E5C6E;
$h2title: 34px;
$weight500: 500;
$shadow-default: 0 0 1.5rem 0 rgba($black,.07);
$shadow-small: 0 1px 1rem 0 rgba($black,.05);

@import "~bulma/sass/utilities/derived-variables";
