<div class="modal game-tour" [class.is-active]="isActive">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="tour-wrapper">
      <div class="game-tour__icon">
        <span class="emoji emoji--hello is-large"></span>
      </div>
      <h2 class="title has-text-centered" [translate]="'TOUR.WELCOME_TITLE'">Welcome to WavesHands</h2>
      <p class="subtitle" [translate]="'TOUR.WELCOME_TEXT'">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi alias animi molestia in, aperiam.
      </p>
      <button class="button is-primary is-main game-tour__start" (click)="startTour()" [translate]="'TOUR.WELCOME_BUTTON'">How to play?</button>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="close()"></button>
</div>
