@import '~src/styles/variables';

.game-tour {
  h2 {
    font-weight: normal;
    color: $basic700;
    font-size: $h2title;
  }

  .description {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.5;
    color: $grey;

    b {
      color: $primary;
    }
  }

  &__start {
    margin-top: .5rem;
    width: 14rem;
    height: 3.4rem;
  }

  &__text {
    text-align: left;
    margin-bottom: 1rem;
    color: $grey;

    $li-circle-size: 1.5rem;

    .title {
      font-size: 1.2rem;
      color: $basic700;
      margin-bottom: 1rem;
    }

    ol {
      counter-reset: myCounter;
    }

    li {
      list-style: none;
    }

    li:before {
      counter-increment: myCounter;
      content:counter(myCounter);
      color: $white;

      background: $primary;
      border-radius: 50%;

      display: inline-block;
      text-align: center;

      margin: .4rem .8rem .4rem 0;
      line-height: $li-circle-size;
      width: $li-circle-size;
      height: $li-circle-size;
    }
  }
}

.tour-wrapper {
  background: $white;
  border-radius: .5rem;
  padding: 3rem 3rem;
  text-align: center;
}
