<a href="#">
  <div class="match">
    <div class="match__overview">
      <div class="level match-meta">
        <div class="level-left match-meta__id">
          #{{ match.id }}
        </div>
        <div class="level-right match-meta__share">
          <a href="#">share</a>
        </div>
      </div>
      <div class="level">
        <div class="level-item has-text-centered">
          <app-match-player></app-match-player>
        </div>
      </div>
    </div>

    <div class="level match__details">
      <div class="level-left">
        <div class="level-item">
          Bet: 1 Waves
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="match-status">
            Open
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
