@import '~src/styles/variables';

.match-wrapper {
  background: $white;
  border-radius: .5rem;
}

.match-notifications {
  padding: 2rem;
}

.match-stages,
.match-top,
.match-bottom {
  padding-left: 2rem;
  padding-right: 2rem;
}

.match-stages {
  padding-top: 3rem;
  padding-bottom: 3rem;

  .subtitle {
    font-size: 1rem;
  }

  h2 {
    color: $basic700;
    font-size: $h2title;
  }
}

.match-top,
.match-bottom {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.match-top {
  border-bottom: 1px solid $white-ter;
}

.match-bottom {
  border-top: 1px solid $white-ter;
}

.md {
  &-05 {
    margin-bottom: .5rem;
  }
  &-1 {
    margin-bottom: 1rem;
  }
}

.match-stage {
  flex: 1;

  &__action {
    margin-bottom: 1rem;
  }

  text-align: center;
}

.select-hands {
  padding: 0 1rem;

  .emoji {
    transition: transform .1s ease;
  }

  > .level-item {
    cursor: pointer;

    &:active {
      .emoji {
        transform: scale(.9, .9);
      }
    }
  }
}

.match-player {
  $avatar-size: 3rem;

  &__avatar {
    width: $avatar-size;
    height: $avatar-size;
  }
}

.match-stages,
.match-progress {
  min-height: 22rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.match-progress {
  padding: 2rem 2rem;

  .subtitle {
    margin-top: 1.5rem;
    font-size: 1rem;
  }

  .new-progress {
    width: 26rem;
    margin: 0 auto;
  }

  &__inner {
    flex: 1;
  }
}

.match-loading {
  justify-content: center;
}

.modal-content {
  width: 42rem;
}

.progress.is-small {
  height: 0.5rem;
}

@keyframes progress-active {
  0% {
    opacity: 1;
    width: 0
  }
  20% {
    opacity: .5;
    width: 0
  }
  100% {
    opacity: 0;
    width: 100%
  }
}

.new-progress {
  height: 0.5rem;
  background: $white-ter;
  border-radius: 290486px;
  overflow: visible;

  &__bar {
    width: 0;
    height: 100%;
    background: $primary;
    border-radius: 290486px;
    box-shadow: 2px 2px 5px 0 rgba($primary, .25);
    transition: width .5s ease;
    position: relative;

    &:before {
      content: '';
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      background: rgba($white, .9);
      border-radius: 10px;
      animation: progress-active 1s ease infinite;
    }
  }
}

.hands-h2 {
  font-weight: normal;
  color: $basic700;
  font-size: $h2title;
}
