@import '~src/styles/variables';

.match-wrapper {
  background: $white;
  border-radius: .5rem;
}

.match-notifications {
  padding: 2rem;
}

.match-stages,
.match-top,
.match-bottom {
  padding-left: 2rem;
  padding-right: 2rem;
}

.match-stages {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.match-top,
.match-bottom {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.match-top {
  border-bottom: 1px solid $white-ter;
}

.match-bottom {
  border-top: 1px solid $white-ter;
}

.md {
  &-05 { margin-bottom: .5rem; }
  &-1 { margin-bottom: 1rem; }
}

.match-stage {

  &__action {
    margin-bottom: 1rem;
  }

  text-align: center;
}

.select-hands {
  font-size: 4rem;

  > div {
    cursor: pointer;
  }
}

.match-player {
  $avatar-size: 3rem;

  &__avatar {
    width: $avatar-size;
    height: $avatar-size;
  }
}

.match-loading,
.match-progress {
  padding: 2rem 2rem;

  .subtitle {
    margin-top: 1.3rem;
  }

  .new-progress {
    width: 16rem;
    margin: 0 auto;
  }
}

.match-progress {
  padding-top: 3rem;
}

.new-progress {
  height: 0.75rem;
  background: $border;
  border-radius: 290486px;
  overflow: hidden;
  
  &__bar {
    width: 0;
    height: 100%;
    background: $text;
  }
}
