<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="match-wrapper">

      <div class="match-not-available" *ngIf="!keeperIsAvailable">
        Keeper is not available
      </div>

      <div class="match" *ngIf="keeperIsAvailable">
        <div class="match-top" *ngIf="isJoinedToMatch">
          <div class="level">
            <div class="level-left">
              <div class="level selected-hands">
                <div class="level-item has-text-centered selected-hands__item" *ngFor="let hand of selectedHandSigns">
                  <div [class]="['hand hand--' + hand]"></div>
                </div>
              </div>
            </div>
            <div class="level-right">
              <app-match-player [player]="match.players[0]"></app-match-player>
            </div>
          </div>
        </div>

        <div class="match-stages" [ngSwitch]="stage" *ngIf="!isLoading">
          <div class="match-stage match-stage--select-hands" *ngSwitchCase="0">
            <h2 class="title has-text-centered">Select your hands</h2>
            <div class="level select-hands">
              <div class="level-item has-text-centered" (click)="select(0)">👊️</div>
              <div class="level-item has-text-centered" (click)="select(1)">✋</div>
              <div class="level-item has-text-centered" (click)="select(2)">✌️</div>
            </div>
          </div>

          <div class="match-stage match-stage--created-match" *ngSwitchCase="1">
            <h2 class="title has-text-centered">You created a game</h2>
          </div>

          <div class="match-stage match-stage--result-match" *ngSwitchCase="3">
            result
          </div>
        </div>
        <div class="match-loading" *ngIf="isLoading">
          <app-circle-loader></app-circle-loader>
        </div>

        <div class="match-bottom">
          <div class="level">
            <div class="level-left">
              <app-match-player [player]="currentPlayer"></app-match-player>
            </div>
            <div class="level-right">
              <div class="level selected-hands">
                <div class="level-item has-text-centered selected-hands__item" *ngFor="let hand of selectedHandSigns">
                  <div [class]="['hand hand--' + hand]"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="close()"></button>
</div>
