@import '~src/styles/variables';

.game {
  height: 100%;

  &-grid {
    height: 100%;
    position: relative;
    margin: 0;
    display: flex;

    &__side {

    }
  }

  &-preview {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40%;
  }

  &-viewport {
    flex: 1;
    height: 100%;
    margin-left: 40%;
    background: #f8f9fb;
  }
}

.app-notifications {
  z-index: 999;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 24rem;
}
