@import '~src/styles/variables';
@import "~bulma/sass/utilities/mixins";

.preview {
  background: $primary;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: url('/assets/images/preview-bg.jpg') no-repeat center bottom;
    background-size: 100% auto;
  }
}

.header,
.footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header {
  z-index: 1;
}

.introduction {
  display: flex;
  flex: 1;
  align-items: center;
  z-index: 1;
  padding-bottom: 12rem;

  &__inner {
    flex: 1;
    color: $white;
  }

  .title,
  .subtitle {
    color: $white
  }

  .title {
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  @include from($widescreen) {
    .title {
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
    }

    .subtitle {
      font-size: 1.25rem;
    }
  }

  @include from($fullhd) {
    .title {
      font-size: 3rem;
      margin-bottom: 3rem;
    }

    .subtitle {
      font-size: 1.5rem;
    }
  }
}

.footer {
  background: none;
  min-height: 6rem;
}
