<div class="preview">
  <header class="section header">
    <div class="level">
      <div class="level-left">
          <div class="logo">
            <a class="logo__link" [routerLink]="['/']">
              <img class="logo__image" src="/assets/images/logo.svg" alt="WavesHands">
            </a>
          </div>
      </div>
      <div class="level-right">
        <div class="header__lang">
          <app-lang-switcher></app-lang-switcher>
        </div>
      </div>
    </div>
  </header>
  <div class="section introduction">
    <div class="introduction__inner">
      <h1 class="title" [translate]="'PREVIEW.TITLE'">The first blockchain hands game!</h1>
      <p class="subtitle" [translate]="'PREVIEW.TEXT'">
        Dispute resolution fairly. Earn Waves easily! Powered by smartcontract based on Waves.
      </p>
      <button class="button is-white is-main introduction__tour"
              (click)="startWelcome()"
              [translate]="'PREVIEW.BUTTON'">
        How to play?
      </button>
    </div>
  </div>
  <footer class="section footer">
  </footer>
</div>
