@import '~src/styles/variables';

.lang-switcher {
  color: rgba($white, .4);

  &__item {
    cursor: pointer;

    &.active,
    &:hover,
    &:active {
      color: $white;
    }

    &.active {
      cursor: default;
      font-weight: $weight-bold;
    }
  }
}
