<section class="section matches">
  <div class="level matches-header">
    <div class="level-left">
      <h2 class="title matches-header__title">Recent Matches</h2>
    </div>
    <div class="level-right">
      <div class="level-item">
        <button class="button">Filter</button>
      </div>
      <div class="level-item">
        <a class="button is-primary" [routerLink]="['match']">Create Match</a>
      </div>
    </div>
  </div>

  <div class="matches-grid" *ngIf="!isLoading">
    <div class="matches-item" *ngFor="let match of matches">
      <app-match-card [match]="match"></app-match-card>
    </div>
  </div>
  <div class="matches-loading" *ngIf="isLoading">
    <app-circle-loader></app-circle-loader>
  </div>
</section>
