<section class="section matches">
  <div class="level matches-header">
    <div class="level-left">
      <h1 class="title matches-header__title">Recent matches</h1>
    </div>
    <div class="level-right">
      <div class="level-item">
        <button class="button">Filter</button>
      </div>
      <div class="level-item">
        <button class="button is-primary">Create Match</button>
      </div>
    </div>
  </div>

  <div class="matches-grid">
    <div class="matches-item">
      <app-match></app-match>
    </div>
    <div class="matches-item">
      <app-match></app-match>
    </div>
  </div>
</section>
