@import "~bulma/sass/utilities/mixins";

.matches {
  $size-gap: 1.5rem;
  $num-columns: 2;
  $num-columns-fullhd: 3;

  position: relative;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      margin: 0 2rem 0 0;
    }

    &__actions {
      .button {
        width: 10rem;
        height: 2.8rem;
      }
    }
  }

  &-wrapper {
    position: relative;
  }

  &-tour-space {
    height: 40rem;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  &-grid {
    position: relative;
    display: grid;
    grid-gap: $size-gap;
    grid-template-columns: repeat($num-columns, 1fr);
  }

  @include from($fullhd) {
    &-grid {
      grid-template-columns: repeat($num-columns-fullhd, 1fr);
    }
  }

  &-loading {
    padding: 4rem 1rem;
  }

  &-disabled {
    text-align: center;

    &__icon {
      margin-right: 1rem;

      .icon {
        width: 3rem;
        height: 3rem;
      }
    }

    &__text {
      flex: 1;

      .subtitle {
        line-height: 1.5;
        margin-top: 0;
      }
    }
  }
}
