/* You can add global styles to this file, and also import other style files */

@import 'styles/variables';
@import 'styles/icon';

html, body {
  height: 100%;
}

.app-wrapper {
  position: relative;
  height: 100%;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  background: $white-ter;

  img {
    width: 100%;
    height: 100%;

  }
}

.hand {
  &:before {
    font-size: 1.5rem;
  }

  &--0:before {
    content: '👊️';
  }
  &--1:before {
    content: '✋';
  }
  &--2:before {
    content: '✌️';
  }
}

.progress::-webkit-progress-value {
  transition: width .5s ease;
}

@import '~bulma';
