/* You can add global styles to this file, and also import other style files */

@import 'styles/variables';
@import 'styles/icon';
@import 'styles/emoji';
@import 'styles/driver';

html, body {
  height: 100%;
}

.app-wrapper {
  position: relative;
  height: 100%;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  background: $white-ter;

  img {
    width: 100%;
    height: 100%;

  }
}

.hand {
  $hand-width: 2.2rem;

  position: relative;
  width: 100%;
  height: 100%;

  .emoji {
    width: $hand-width;
    height: $hand-width;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -$hand-width / 2;
    margin-top: -$hand-width / 2;
  }

  &--0 .emoji {
    background-image: url('/assets/images/emoji/3.png');
  }
  &--1 .emoji  {
    background-image: url('/assets/images/emoji/2.png');
  }
  &--2 .emoji  {
    background-image: url('/assets/images/emoji/1.png');
  }
}

.progress::-webkit-progress-value {
  transition: width .5s ease;
}

.button.is-main {
  font-size: 1.1rem;
  border-radius: $radius;
  font-weight: $weight-medium;
  height: 3.2rem;
}

@import '~bulma';
@import 'styles/custom';
