@import '~src/styles/variables';

.actions {
  &-loading {
    padding: 4rem 1rem;
  }
}

.actions-list {

  &__empty {
    padding: 2rem 0;
    text-align: center;
    color: $grey;
  }

  &__item {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid $white-ter;

    &:last-child {
      border-bottom: 0;
    }
  }
}
