@import '~src/styles/variables';

.actions {
  &-loading {
    padding: 4rem 1rem;
  }
}

.actions-list {

  &__item {
    margin: 0;
    padding: 1.4rem 0;
    border-bottom: 1px solid $white-ter;

    &:last-child {
      border-bottom: 0;
    }
  }
}
