<section class="section actions">
  <div class="actions-header">
    <h2 class="title">Your actions</h2>
  </div>

  <div class="actions-list" *ngIf="!isLoading">
    <div class="actions-list__item" *ngFor="let action of actions">
      <div class="level action-item">
        <div class="action-icon">
          <svg class="icon"><use xlink:href="icons.svg#icon-notifications_none"></use></svg>
        </div>
        <span class="action-content">
          <small class="date">{{ action.timestamp | date: 'd MMM, y, h:mm a' }}</small>
          <div class="action-text">
            <p>{{ action.message }}</p>
          </div>
        </span>
      </div>          
    </div>
  </div>
  <div class="actions-loading" *ngIf="isLoading">
    <app-circle-loader></app-circle-loader>
  </div>
</section>
  